/* Whole page */
html {
  margin: 0;
  padding: 0;
}


/* Content */
.section {
  background-color: rgba(0, 0, 0, 0.15);
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}

/* Footer */
.copyright {
  font-size: 8pt;
  text-align: right;
  padding-bottom: 10px;
  color: grey;
}