/* Override Bootstrap container styles for calculator */
div > .calculator {
  padding: 0;
}

/* Calculator app styles */
.calculator {
  /* Grid */
  /* Disable: grid cause some padding on top */
  /* display: grid; */

  /* Design */
  border-radius: 10px;
  /* This is the Logical Property for max-width */
  /* and has very good browser support */
  max-inline-size: 22rem;
  
  /* Disable: for another solution */
  /* height: 10rem; */
  /* Items are positioned in the center of the container */
  /* justify-content: center; */
  /* align-items: center; */

  /* Give the calculator some depth off the page */
  box-shadow: 
    0px 3px 6px 0px rgba(0, 0, 0, 0.15),
    0px 2px 4px 0px rgba(0, 0, 0, 0.12);

  /* Clip the content when the content of an element is */
  /* too big to fit in the specified area */
  /* and don't add scrollbar */
  overflow: hidden;
}

.calculator-lcd {
  /* Big big result */
  font-size: 3rem;
  /* This is the Logical Property for text-align: right; */
  /* and has very good browser support. */
  text-align: end;

  /* Design */
  background-color:  rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.85);

  /* Logical Property for padding-top */
  padding-block-start: 0.25rem; 
  /* Logical Property for padding-bottom */
  padding-block-end: 0.25rem; 
  /* Logical Property for padding-right */
  padding-inline-end: 0.75rem;
}

.calculator-keys {
  /* Use grid */
  display: grid;
  /* repeat notation for easier reading */
  grid-template-columns: repeat(4, 1fr);
  /* Clean line around each button and line background color */
  grid-gap: 1px;
  background: rgba(255, 255, 255, 0.75);
}


.calculator-key {
  /* Design */
  border: 0;
  /* Logical Property for padding-top */
  padding-block-start: 0.5rem; 
  /* Logical Property for padding-bottom */
  padding-block-end: 0.5rem; 
  /* Logical Property for padding-left */
  padding-inline-start: 1.25rem; 
  /* Logical Property for padding-right */
  padding-inline-end: 1.25rem;
  /* Readable size */
  font-size: 1.5rem;
}

.calculator-key-enter {
  /* Start at column #4 and end at column #5 (the very right edge). */
  grid-column: 4  / 5;
  /* Start at row #2 and span 4 rows */
  grid-row: 2 / span 4;

  /* Background color design*/
  background: rgba(226, 222, 3, 0.308);
}

.calculator-key-operators {
  /* Let’s differentiate the operators from the numbers */
  background: rgba(14, 33, 119, 0.418);
}